.heading {
    color: blue;
}
.line-1 {
    color: red;
}
.line-2 {
    color: green;
}

#section-1 {
    background: black;
}

.form-1 > input {
    border-radius: 20px;
    border: 3px solid #666;
    padding: 20px;
    margin: 10px;
}
p {
    margin: 10px;
}

/* Box Model learning */
.box {
    font-size: 2rem;
    background-color: green;
    /* Box Model */
    width: 200px;
    height: 50px;

    /* padding: 10px; */
    padding: 0.5em;
    border: 20px solid black;
    margin: 20px;
    /* does not includes in the element so it only makes 
    the exact differecen as specified which 20, 
    it wont be 40 for each element */


}